2.2/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" 
xmlns:pithia="https://metadata.pithia.eu/ontology/2.2" targetNamespace="https://metadata.pithia.eu/ontology/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <include schemaLocation="utilities.xsd"/>
    <element name="Catalog" substitutionGroup="gml:AbstractObject" type="pithia:CatalogType">
        <annotation>
            <documentation>-- Definition --
A catalog is a list of entries (that can be events or investigations of various categories, 
e.g., solar flares). Each catalog is characterized by its type (dictionary-controlled). 
Each entry has phenomenon time (with begin and end). 
            </documentation>
        </annotation>
    </element>
    <complexType name="CatalogType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the catalog.
                                
                                -- Description --
                                NOTE The identifier is used by CatalogEntry to reference back to the catalog.
                                
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="name" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                Name of the Catalog
                            </documentation>
                        </annotation>
                    </element>                    
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                 A free-text description of the catalog contents.  
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="catalogCategory" type="pithia:CatalogCategoryPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                A category of the catalog from the ontology disctionary.
                            </documentation>
                        </annotation>
                    </element>   
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CatalogCategoryPropertyType">
        <sequence>
            <element ref="pithia:CatalogCategory"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
<!-- 

 -->
    <element name="CatalogEntry" substitutionGroup="gml:AbstractObject" type="pithia:CatalogEntryType">
        <annotation>
            <documentation>-- Definition --
A catalog entry is one registered event or investigation inside the catalog of specific category (type). 
Each entry is characterized by phenomenon time (with begin and end). 
Each catalog entry includes 1+ registered data subsets.
            </documentation>
        </annotation>
    </element>
    <complexType name="CatalogEntryType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the catalog.
                                
                                -- Description --
                                NOTE The identifier is used by CatalogEntry to reference back to the catalog.
                                
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="entryName" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A short name of this Catalog Entry 
                            </documentation>
                        </annotation>
                    </element>                    
                    <element maxOccurs="1" minOccurs="0" name="entryDescription" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                 A free-text description of the catalog contents.  
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="catalogIdentifier" type="pithia:CatalogIdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                A link to the catalog whose entry is this.
                            </documentation>
                        </annotation>
                    </element>   
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CatalogIdentifierPropertyType">
        <sequence>
            <element ref="pithia:CatalogCategory"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
<!-- 

 -->
    <element name="DataSubset" substitutionGroup="gml:AbstractObject" type="pithia:DataSubsetType">
        <annotation>
            <documentation>-- Definition --
Each catalog entry includes 1+ registered data subsets are registered, each subset pointing to a link to the Data Collection document, 
the result time (with begin and end), and a DOI link to the persistent storage of the subset data.
            </documentation>
        </annotation>
    </element>
    <complexType name="DataSubsetType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="pithia:IdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                External identifier of the data subset registere for this catalog entry.
                            </documentation>
                        </annotation>
                    </element>    
                    <element name="dataSubsetName" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                A short name of this Data Subset
                            </documentation>
                        </annotation>
                    </element>                    
                    <element maxOccurs="1" minOccurs="0" name="dataSubsetDescription" type="string">
                        <annotation>
                            <documentation>-- Definition --
                                 A free-text description of the data subset contents.  
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="entryIdentifier" type="pithia:CatalogEntryIdentifierPropertyType">
                        <annotation>
                            <documentation>-- Definition --
                                A link to the catalog entry whose this data subset belongs to.
                            </documentation>
                        </annotation>
                    </element>   
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CatalogEntryIdentifierPropertyType">
        <sequence>
            <element ref="pithia:CatalogCategory"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>